*{
    padding: 0;
    border: 0;
    margin: 0;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }
.navbar{
    background-color: #1f2937;
}
.logo{
    color: #fff;
}
.navbar .container{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul,li{
    list-style-type: none;
    margin-right: 20px;
   
    
}
a,p{
    font-family: sans-serif;
    text-decoration: none;
    color: #7a818a;
    font-size: 18px;
}
.menu{
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    
    
}
.header img{
   height: 200px;
   width: 400px;
   margin-left: 30px;
  
}

.header{
    display: flex;
    min-height: 400px;
    background-color: #1f2937;
}
.header .container {
    display: flex;
  align-items: center;
  justify-content: space-between;
    
    
}
.header h1{
     font-size: 48px;
     font-weight: bolder;
     color: #F9FAF8;
}
.header-left{
    align-self: center;
  
}
.header button{
    width: 100px;
    height: 50px;
    background-color: #3882f6;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 10px;
}

.info .container{
    display: flex;
    height: 400px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    
}
.box{
    height: 120px;
    width: 100%;
    border: #3882f6;
    border-radius: 15px;
    border-width: 4px;
    border-style: solid;
    
}
.info .items{
    display: flex;
}
.info h2{
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin-right:50px ;


}
.item p{
    text-align: center;
}
.quote-section{
    background-color: #e5e7eb;
}

.quote-section .container{
    display: flex;
    
    flex-direction: column;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}
.quote-section .quote{

    font-size: 36px;
    font-style: italic;
}
.quote-section .author{
    align-self: flex-end;
    font-weight: bolder;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: aliceblue;
}
.action .container{
    display: flex;
    height: 100px;
    width: 75%;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 7px;
    
}
.action h3{
    color: #fff;

}
.action p{
    color: #e5e7eb;

}
.action button{
    background-color: #3882f6;
    border-radius: 10px;
    border-color: #fff;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    color: #fff;
    width:150px;
    padding: 5px;
    margin-left: 250px;
   
}
footer{
    height: 100px;
    background-color: #1f2937;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}









@media (max-width: 768px) {
    .header .container {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }
  
    
  }
